= form_for [@comment.article, @comment], remote: true do |f|
	- if @comment.errors.any?
		#error_explanation
			%h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
			%ul
				- @comment.errors.full_messages.each do |msg|
					%li= msg

	.field
		= f.label :content
		= f.text_area :content
	.field
		= f.label :mark
		= f.select :mark, options_for_select((1..5).step(1))
	.field
		= f.label :author
		= f.collection_select :author_id, Author.all, :id, :login
	.actions
		= f.submit 'Save'
